<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
  <mat-list>
    <mat-list-item>
      <h1 class="font-main main-text">
        Planning Poker
      </h1>
    </mat-list-item>
    <form>
      <mat-list-item class="main-input">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Input your poker room name" value="" required [(ngModel)]="roomName" name="roomName" #name="ngModel">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <div class="main-btn">
          <button mat-stroked-button flex="15" color="basic" (click)="createRoom()" [disabled]="this.roomName.length == 0">Create new poker room</button>
        </div>
      </mat-list-item>
    </form>
  </mat-list>
</div>
<!--
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
  <div class="media">
    <div class="media-left">
      <a href="#" class="icon-rounded">{{(item | async)?.initial}}</a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{(item | async)?.name}}</h4>
      <div>{{(item | async)?.content}}</div>
    </div>
  </div>
</ul>
-->